.PokeballBottom {
  width: 100%;
  aspect-ratio: 1 / 0.5;
  height: 100%;
  background: #fff;
  border-radius: 0 0 300px 300px;
}

.PokeballBottom-stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 4px;
  position: relative;
}

.PokeballBottom-blackCircle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #000;
  height: auto;
  width: 17%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  clip-path: inset(50% 0 0 0);
}

.PokeballBottom-whiteCircle {
  background-color: #fff;
  height: 35px;
  width: 70px;
  border-radius: 0 0 35px 35px;
}