.PokemonRow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 550px;
  /* border-radius: 12px; */
  margin: 5px 0 5px 0;
  /* box-shadow: 0 0 1px #bdbdbd; */
  transition: 0.1s;
}

.PokemonRow.m-even {
  background-color: var(--light-grey);
}

.PokemonRow:hover {
  transform: translate(4px, 4px);
  box-shadow: -5px -6px var(--dark-grey);
  border: 0.8px solid var(--dark-grey);
  transition: 0.2s;
  margin: 6px 0 9px 0;
}

.PokemonRow.m-selected {
  transform: translate(4px, 4px);
  box-shadow: -5px -6px var(--dark-grey);
  border: 0.8px solid var(--dark-grey);
  transition: 0.2s;
  margin: 6px 0 9px 0;
}

.PokemonRow h2 {
  font-size: 18px;
  font-family: var(--font-regular);
}

.PokemonRow-button {
  width: 100%;
  height: 100%;
  background: none;
  transition: 0.2s;
}

.PokemonRow-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.PokemonRow-icon {
  opacity: 100%;
  transition: 0.2s;
  width: 50px;
}