.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #eeeeee;
}

h1 {
  color: white;
}

h2,
h3,
p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

.App-pokeballDome {
  background-color: #dd2c00;
  margin-top: 50px;
  min-height: 300px;
  width: 600px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-pokeballStripe {
  background-color: black;
  height: 15px;
  width: 600px;
}

.App-pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  background-color: white;
  padding: 50px 0px 50px 0px;
  border-radius: 0px 0px 12px 12px;
}

.App-loadMoreButton {
  margin: 30px 0px 60px 0px;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #eeeeee;
  transition: 0.2s;
}

.App-loadMoreButton:hover {
  opacity: 0.5;
  transition: 0.2s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}