body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --font-regular: 'Quantico', Arial, sans-serif;
  --red: #e53935;
  --green: #2e7d32;
  --deep-blue: #031535;
  --light-grey: #eeeeee;
  --cyan: #18ffff;
  --border: 1px solid var(--red);
  --radius: 2px 2px 2px 2px;
}

