:root {
  --font-regular: 'Quantico', Arial, sans-serif;
  --red: #e53935;
  --green: #2e7d32;
  --deep-blue: #031535;
  --dark-grey: #424242;
  --medium-grey: #bdbdbd;
  --light-grey: #eeeeee;
  --cyan: #18ffff;
  --border: 1px solid #000;
  --radius: 2px 2px 2px 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Quantico', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #fff;
}

h2,
h3,
p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}